#scene-panel {
    top: 102px;
    left: 24px;
    width: 320px;
    overflow: visible;
}

.collapsed #scene-panel {
    display: none;
}

.splat-list-container {
    max-height: 300px;
    overflow: auto;
}