@use 'colors.scss' as *;

.splat-list {
    min-height: 80px;
    padding: 4px 0px;

    .splat-item {
        display: flex;
        flex-direction: row;
        padding: 2px;

        &:hover:not(.selected).visible {
            cursor: pointer;
        }

        &.selected {
            background-color: $bcg-darker;
        }

        #splat-edit {
            margin: 0;
            flex-grow: 1;
            flex-shrink: 1;
        }

        .splat-item-text {
            flex-grow: 1;
            flex-shrink: 1;
            cursor: default;

            .visible & {
                &:hover:not(.selected) {
                    color: $text-primary;
                }
            }

            .selected & {
                color: $text-primary;
                cursor: default;
                
                &:hover {
                    cursor: default;
                }
            }
        }

        // Indentation for children (each level = 20px indent)
        &.splat-item-depth-0 { padding-left: 0px; }
        &.splat-item-depth-1 { padding-left: 20px; }
        &.splat-item-depth-2 { padding-left: 40px; }
        &.splat-item-depth-3 { padding-left: 60px; }
        &.splat-item-depth-4 { padding-left: 80px; }
        &.splat-item-depth-5 { padding-left: 100px; }

        .splat-item-visible {
            flex-grow: 0;
            flex-shrink: 0;

            width: 24px;
            height: 24px;
            line-height: 24px;

            color: $text-secondary;

            cursor: pointer;

            .visible & {
                color: $text-secondary;
            }

            &:hover {
                color: $text-primary;
            }
        }

        .splat-item-delete {
            flex-grow: 0;
            flex-shrink: 0;

            padding: 4px;
            width: 16px;
            height: 16px;
            line-height: 16px;

            color: $text-secondary;

            cursor: pointer;

            &:hover {
                color: $text-primary;
            }
        }

        .splat-item-camera {
            flex-grow: 0;
            flex-shrink: 0;

            width: 24px;
            height: 24px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

            color: $text-secondary;

            cursor: pointer;

            &:hover {
                background-color: $bcg-darkest;
            }

            &:hover:not(.active) {
                color: $text-primary;
            }

            &.active {
                color: $clr-hilight;
            }

            &.active:hover {
                color: $clr-hilight;
                background-color: $bcg-darkest;
            }
        }
    }
}